.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 50px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
.b-content.not-in-preview,
.b-content.hide-footer {
  padding-bottom: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf > .fr-text {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf > .fr-text {
  opacity: 0 !important;
}
.wf-inactive .fr-wf > .fr-text,
.wf-active .fr-wf > .fr-text {
  opacity: 1;
}
/* Navigation widget styles applied in pane for editing */

.opened {
  /* needed for edit mode interactions, to overwrite widget default style */
  max-height: 9999px !important;
  position: relative !important;
}
.fr-widget:after,
.fr-widget:before {
  content: "";
  display: table;
  clear: both;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-link {
  text-decoration: none;
  cursor: default;
}
.fr-link[href] {
  cursor: pointer;
}
.fr-link[href],
.fr-link[href]:active,
.fr-link[href]:focus {
  outline: none;
}
.fr-link.fr-linktype-submit,
.fr-link.fr-linktype-submit * {
  cursor: default;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg-inner {
  position: relative;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
  display: block;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-property: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -ms-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-input {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;
}
.fr-input > input {
  display: block !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}
.fr-input > input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-navigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fr-widget-hover-opacity-60 {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.fr-widget-hover-opacity-60:hover {
  opacity: 0.6;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -ms-transition-property: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
}
.fr-widget-hover-scale-up {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.fr-widget-hover-scale-up:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-property: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.fr-widget.fr-slideshow > .fr-widget.fr-container {
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.fr-widget.fr-slideshow .fr-slideshow-dots {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 20px;
  line-height: 10px;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  z-index: 2;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: .6;
  border-radius: 5px;
  margin: 0 5px;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch.swiper-active-switch {
  opacity: 1;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch:hover {
  cursor: pointer;
}
.b-content .fr-widget.swiper-container {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  /* IE10 Windows Phone 8 Fixes */
}
.b-content .fr-widget.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, transform, left, top;
  -moz-transition-property: -webkit-transform, transform, left, top;
  -ms-transition-property: -webkit-transform, transform, left, top;
  -o-transition-property: -webkit-transform, transform, left, top;
  transition-property: -webkit-transform, transform, left, top;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-property: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: 0px, 0, 0;
  -moz-transform: 0px, 0, 0;
  -ms-transform: 0px, 0, 0;
  -o-transform: 0px, 0, 0;
  transform: 0px, 0, 0;
  -o-transform: translate(0px, 0px);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.b-content .fr-widget.swiper-container .swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.b-content .fr-widget.swiper-container .swiper-slide {
  display: block;
  visibility: visible;
  float: left;
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.b-content .fr-widget.swiper-container .swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.b-content .fr-widget.swiper-container .swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}

.fr-anim-initial {
  visibility: hidden;
  opacity: 0 !important;
}
[data-fr-animation].fr-having-animation {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-fade-in {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-slide-from-top {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
.fr-having-animation.fr-anim-slide-from-right {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.fr-having-animation.fr-anim-slide-from-bottom {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}
.fr-having-animation.fr-anim-slide-from-left {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.fr-having-animation.fr-anim-result {
  visibility: visible;
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  -webkit-transition-property: transform, opacity;
  -moz-transition-property: transform, opacity;
  -ms-transition-property: transform, opacity;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-property: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  opacity: 1 !important;
}
.fr-having-animation.fr-anim-result.fr-anim-fade-in {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.fr-widget.fr-background-parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
body.isTouchDevice .fr-widget.fr-background-parallax,
.not-in-preview .fr-widget.fr-background-parallax {
  background-attachment: scroll;
}
.not-in-preview .fr-widget.fr-background-attachment-fixed {
  background-attachment: scroll;
  background-size: cover;
}


.fr_link_5 {
  display: inline-block
}
.fr_items_2 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px
}
.fr_navigation_white {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 0;
  margin-left: 0;
  background-color: white;
  z-index: 1000
}
.fr_link_6 {
  display: inline-block
}
.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}
.fr_navigation_link_2 {
  font-family: Roboto;
  font-weight: 300;
  font-size: .6em;
  line-height: 1.0em;
  text-align: center;
  letter-spacing: .01em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #333
}
.fr_link_4 {
  display: inline-block
}
.fr_top_nav {
  text-align: right;
  overflow: hidden
}
.fr_link_7 {
  display: inline-block
}
.fr_link_8 {
  display: inline-block
}
.fr_link_9 {
  display: inline-block
}
.fr_container {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_3_columns {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background-position: center center;
  background-size: cover;
  min-height: 5.099609375em;
  max-width: 1000px
}
.fr_3_columns>.fr-widget:nth-child(5n+1) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 16%;
  clear: left;
  max-width: inherit
}
.fr_3_columns>.fr-widget:nth-child(5n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 24%;
  clear: none;
  max-width: inherit
}
.fr_3_columns>.fr-widget:nth-child(5n+3) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 24%;
  clear: none;
  max-width: inherit
}
.fr_3_columns>.fr-widget:nth-child(5n+4) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 20%;
  clear: none;
  max-width: inherit
}
.fr_3_columns>.fr-widget:nth-child(5n+5) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 16%;
  clear: none;
  max-width: inherit
}
.fr_image {
  max-width: 1024px
}
.fr_paragraph_center {
  display: block;
  margin-top: -4.137109398841858em;
  min-height: 4.4375em;
  max-width: 600px
}
.fr_paragraph_center_2 {
  display: block;
  vertical-align: top;
  min-height: 4.4375em;
  max-width: 600px
}
.fr_nav_link {
  font-family: Lato;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  color: #0086a9;
  cursor: pointer
}
.fr_paragraph_center_3 {
  display: block;
  min-height: 1.35em;
  max-width: 600px
}
.fr_paragraph_center_4 {
  display: block;
  min-height: 1.35em;
  max-width: 600px
}
.fr_1_column {
  width: 90%;
  margin-top: .2em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  padding-bottom: 25px;
  max-width: 1000px
}
.fr_1_column>.fr-widget:nth-child(1n+1) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}
.fr_header_center_2 {
  float: none;
  display: block;
  font-family: Lato;
  font-weight: 300;
  font-size: 2.0em;
  line-height: 1.35em;
  text-align: center;
  margin-bottom: .2em;
  padding-top: 25px;
  color: #333;
  min-height: 1.35em
}
.fr_text_block_center_2 {
  padding-bottom: 0;
  max-width: 600px
}
.fr_paragraph_center_6 {
  float: none;
  display: block;
  font-family: Lato;
  font-weight: 400;
  font-size: 3.0em;
  line-height: 1.35em;
  text-align: center;
  padding-top: 25PX;
  padding-bottom: 5px;
  color: #34a1b7;
  background-position: center center;
  background-size: cover
}
.fr_container_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  background-color: #bdbdbd;
  min-height: 1px;
  max-height: 1px;
  max-width: 1000px
}
.fr_awards {
  float: none;
  display: block;
  margin-top: 2.5em;
  margin-bottom: .2em;
  min-height: 1.35em
}
.fr_text_block_center_3 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_paragraph_center_7 {
  float: none;
  display: block
}
.fr_para_left {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: #999
}
.fr_container_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #bdbdbd;
  min-height: 1px;
  max-height: 1px;
  max-width: 1000px
}
.fr_h4-1 {
  float: none;
  display: block;
  width: 100%;
  font-family: Lato;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.25em;
  text-align: left;
  letter-spacing: .01em;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: grey
}
.fr_right_arrow {
  display: none;
  top: 50%;
  width: 35px;
  vertical-align: top;
  margin-top: 0;
  margin-right: 1em;
  margin-left: 0;
  position: absolute;
  right: 0;
  z-index: 5;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%)
}
.fr_left_arrow {
  display: none;
  top: 50%;
  width: 35px;
  vertical-align: top;
  margin-top: 0;
  margin-right: auto;
  margin-left: 1em;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%)
}
.fr_slideshow {
  float: none;
  display: block;
  width: 100%;
  height: 280px;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 280px;
  max-height: 280px;
  max-width: 1000px
}
.fr_slideshow .fr-slideshow-dots .swiper-pagination-switch {
  background-color: #e98300
}
.fr_slide_3 {
  float: none;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: url(../img/Kristy.png);
  background-position: center center;
  background-size: cover;
  position: absolute
}
.fr_slide_4 {
  float: none;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: url(../img/Garrett.png);
  background-position: center center;
  background-size: cover;
  position: absolute
}
.fr_paragraph_center_9 {
  display: block;
  font-family: Lato;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.35;
  text-align: center;
  color: #333;
  min-height: 1.35em;
  max-width: 600px
}
.fr_caption-1 {
  float: none;
  display: block;
  width: 100%;
  font-family: Roboto;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: left;
  letter-spacing: .05em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: grey
}
.fr_g08_paragraph_three {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_paragraph_three .fr-text {
  min-width: 100%
}
.fr_g08_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_g08_container_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto
}
.fr_h4_center {
  float: none;
  display: block;
  width: 100%;
  font-family: Lato;
  font-weight: 900;
  font-size: 1em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .01em;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: grey
}
.fr_g08_headline_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_three .fr-text {
  min-width: 100%
}
.fr_g08_rounded_img_three {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../img/daniel.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50%
}
.fr_g08_container_four {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto
}
.fr_g08_headline_four {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_four .fr-text {
  min-width: 100%
}
.fr_g08_paragraph_four {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_paragraph_four .fr-text {
  min-width: 100%
}
.fr_g08_rounded_image_one {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../img/work.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50%
}
.fr_g08_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_g08_container_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto
}
.fr_g08_paragraph_one {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_paragraph_one .fr-text {
  min-width: 100%
}
.fr_g08_headline_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_one .fr-text {
  min-width: 100%
}
.fr_g08_4_column_grid {
  float: none;
  display: block;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  max-width: 940px
}
.fr_g08_4_column_grid>.fr-widget:nth-child(4n+1) {
  margin-top: 2.1%;
  margin-right: 2.1%;
  margin-bottom: 2.1%;
  margin-left: 2.1%;
  width: 20.8%;
  clear: left;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(4n+2) {
  margin-top: 2.1%;
  margin-right: 2.1%;
  margin-bottom: 2.1%;
  margin-left: 2.1%;
  width: 20.8%;
  clear: none;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(4n+3) {
  margin-top: 2.1%;
  margin-right: 2.1%;
  margin-bottom: 2.1%;
  margin-left: 2.1%;
  width: 20.8%;
  clear: none;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(4n+4) {
  margin-top: 2.1%;
  margin-right: 2.1%;
  margin-bottom: 2.1%;
  margin-left: 2.1%;
  width: 20.8%;
  clear: none;
  max-width: inherit
}
.fr_g08_four {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_g08_rounded_image {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../img/life.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50%
}
.fr_paragraph_center_10 {
  display: block;
  font-family: Lato;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.35;
  text-align: center;
  color: #333;
  min-height: 1.35em;
  max-width: 600px
}
.fr_c09_paragraph_text {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 4em;
  margin-left: auto
}
.fr_c09_paragraph_text .fr-text {
  min-width: 100%
}
.fr_c09_headline_two_3 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_c09_headline_two_3 .fr-text {
  min-width: 100%
}
.fr_c09_headline_two_2 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .8em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_c09_headline_two_2 .fr-text {
  min-width: 100%
}
.fr_content_09 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1000px
}
.fr_c09_image_two {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  max-height: 215px;
  max-width: 1024px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1)
}
.fr_c09_paragraph_text_three {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_c09_paragraph_text_three .fr-text {
  min-width: 100%
}
.fr_c09_paragraph_text_two {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_c09_paragraph_text_two .fr-text {
  min-width: 100%
}
.fr_c09_image_three {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1)
}
.fr_c09_headline {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_c09_headline .fr-text {
  min-width: 100%
}
.fr_c09_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_c09_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_c09_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_c09_3_column_grid {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  max-width: 1000px
}
.fr_c09_3_column_grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 2%;
  width: 29.33%;
  clear: left;
  max-width: inherit
}
.fr_c09_3_column_grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 2%;
  width: 29.33%;
  clear: none;
  max-width: inherit
}
.fr_c09_3_column_grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 2%;
  width: 29.33%;
  clear: none;
  max-width: inherit
}
.fr_c09_image {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1);
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 1)
}
.fr_container_4 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .25em;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  background-color: #bdbdbd;
  min-height: 1px;
  max-height: 1px;
  max-width: 1000px
}
.fr_benefits {
  float: none;
  display: block;
  margin-top: 2.5em;
  margin-bottom: .2em;
  min-height: 1.35em
}
.fr_text_block_center_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_section_heading {
  font-family: Lato;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.35em;
  text-align: left;
  color: #333
}
.fr_co3_paragraph_text_one_3 {
  display: block
}
.fr_content_03 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
  padding-bottom: 30px;
  max-width: 1000px
}
.fr_co3_headline_two_3 {
  display: block
}
.fr_co3_headline_one_3 {
  display: block
}
.fr_h4-1 {
  font-family: Lato;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.25em;
  text-align: left;
  color: grey
}
.fr_co3_3_column_grid_3 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_container_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_paragraph_text_two_3 {
  display: block
}
.fr_co3_3_column_grid_4 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_4>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_4>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_container_3 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_paragraph_text_one_4 {
  display: block
}
.fr_co3_headline_one_4 {
  display: block
}
.fr_co3_headline_two_4 {
  display: block
}
.fr_co3_paragraph_text_two_4 {
  display: block
}
.fr_co3_headline_one_5 {
  display: block
}
.fr_co3_paragraph_text_two_5 {
  display: block
}
.fr_co3_headline_two_5 {
  display: block
}
.fr_co3_3_column_grid_5 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_5>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_5>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_container_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_paragraph_text_one_5 {
  display: block
}
.fr_co3_paragraph_text_two_6 {
  display: block
}
.fr_co3_headline_one_6 {
  display: block
}
.fr_co3_headline_two_6 {
  display: block
}
.fr_co3_3_column_grid_6 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_6>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_6>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_container_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_paragraph_text_one_6 {
  display: block
}
.fr_co3_headline_two_7 {
  display: block
}
.fr_co3_paragraph_text_two_7 {
  display: block
}
.fr_co3_container_6 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_3_column_grid_7 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_7>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_7>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_paragraph_text_one_7 {
  display: block
}
.fr_co3_headline_one_7 {
  display: block
}
.fr_co3_headline_two_8 {
  display: block
}
.fr_co3_paragraph_text_two_8 {
  display: block
}
.fr_co3_paragraph_text_one_8 {
  display: block
}
.fr_co3_container_7 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_co3_3_column_grid_8 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_8>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_8>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_headline_one_8 {
  display: block
}
.fr_co3_paragraph_text_two_9 {
  display: block
}
.fr_co3_headline_two_9 {
  display: block
}
.fr_co3_3_column_grid_9 {
  float: none;
  display: block;
  margin-top: 1em
}
.fr_co3_3_column_grid_9>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_9>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_headline_one_9 {
  display: block
}
.fr_co3_paragraph_text_one_9 {
  display: block
}
.fr_co3_container_8 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_text_block_center_5 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .81em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_header_center_7 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: .2em;
  margin-left: auto;
  min-height: 1.35em
}
.fr_header_center_7 .fr-text {
  min-width: 100%
}
.fr_cnt08_button {
  float: none;
  display: block;
  width: 80%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: black;
  background-color: white;
  max-width: 300px;
  border-radius: 4px
}
.fr_cnt08_button .fr-text {
  min-width: 100%
}
.fr_h2_center_white {
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .05em;
  color: white
}
.fr_cnt08_quote {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_cnt08_quote .fr-text {
  min-width: 100%
}
.fr_content_8 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #34a1b7;
  background-position: center center;
  background-size: cover;
  max-width: 1000px
}
.fr_text_block_center_6 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}
.fr_header_center_8 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: .2em;
  margin-left: auto;
  min-height: 1.35em;
  max-width: 1000px
}
.fr_header_center_8 .fr-text {
  min-width: 100%
}
.fr_image_2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}
.fr_g08_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_g08_headline_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_two .fr-text {
  min-width: 100%
}
.fr_g08_container_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto
}
.fr_g08_rounded_img_two {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../img/environment.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50%
}
.fr_g08_paragraph_one_2 {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_paragraph_one_2 .fr-text {
  min-width: 100%
}
@media screen and (max-width: 1024px) {
  .fr_slide_3 {
    display: block
  }
}
@media screen and (max-width: 1024px) {
  .fr_slide_4 {
    display: none
  }
}
@media screen and (max-width: 768px) {
  .fr_link_5 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_items_2 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0
  }
}
@media screen and (max-width: 768px) {
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
}
@media screen and (max-width: 768px) {
  .fr_link_6 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_mobile_toggle_2 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_navigation_link_2 {
    text-align: left
  }
}
@media screen and (max-width: 768px) {
  .fr_link_4 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_top_nav {
    overflow: hidden
  }
}
@media screen and (max-width: 768px) {
  .fr_link_7 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_link_8 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_link_9 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_slide_3 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_slide_4 {
    display: none
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_4_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: left;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_c09_3_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: left;
    max-width: inherit
  }
  .fr_c09_3_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_4>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_5>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_6>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_7>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_8>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_9>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_slide_3 {
    display: block
  }
}
@media screen and (max-width: 480px) {
  .fr_slide_4 {
    display: none
  }
}
@media screen and (max-width: 480px) {
  .fr_g08_4_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 95.8%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_h2_center_white {
    font-size: 1.3em
  }
}
@media screen and (max-width: 320px) {
  .fr_1_column>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_h4-1 {
    margin-top: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_slide_3 {
    display: block
  }
}
@media screen and (max-width: 320px) {
  .fr_slide_4 {
    display: none
  }
}
@media screen and (max-width: 320px) {
  .fr_h4_center {
    margin-top: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_c09_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
}
.fr_cnt08_button {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_cnt08_button:hover {
  color: white;
  background-color: black;
  transition-duration: .125s
}
.fr_g08_paragraph_four {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_g08_paragraph_four:hover {
  color: #34a1b7;
  transition-duration: .125s
}
.fr_g08_paragraph_three {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_g08_paragraph_three:hover {
  color: #34a1b7;
  transition-duration: .125s
}
.fr_g08_paragraph_one_2 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_g08_paragraph_one_2:hover {
  color: #34a1b7;
  transition-duration: .125s
}
.fr_g08_paragraph_one {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_g08_paragraph_one:hover {
  color: #34a1b7;
  transition-duration: .125s
}

.header_link
{
  color: #34a1b7 !important;
}
/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/
